@{
    ViewData["Title"] = ViewBag.Title;
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <p>Página del proyecto customizado (o principal) para los reportes. En este caso solo tenemos sobrescrita la vista, el controlador utilizado es el del proyecto master.</p>
</div>
