@{
    ViewData["Title"] = ViewBag.Title;
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <p>Página del proyecto customizado (o principal) para los proyectos. También tiene customizado el controlador.</p>
</div>
